In [1]:
import pandas as pd
transactions=pd.read_csv("transaction.csv",header=None)
# t2=pd.read_csv("transactions_data2.csv",header=None)#.set_index('Store')
space=pd.read_csv('fixture.csv',header=None)#.set_index('Store')
brandExit=pd.read_csv('brandExit.csv',header=None)
futureSpace=pd.read_csv('futureSpace.csv',header=None)

In [2]:
spaceTest=pd.read_csv('fixture.csv',header=0)

In [4]:
pd.melt(spaceTest,id_vars='Store')

         variable value
0      Unnamed: 0     0
1      Unnamed: 0     1
2      Unnamed: 0     2
3      Unnamed: 0     3
4      Unnamed: 0     4
5      Unnamed: 0     5
6      Unnamed: 0     6
7      Unnamed: 0     7
8      Unnamed: 0     8
9      Unnamed: 0     9
10     Unnamed: 0    10
11     Unnamed: 0    11
12     Unnamed: 0    12
13     Unnamed: 0    13
14     Unnamed: 0    14
15     Unnamed: 0    15
16     Unnamed: 0    16
17     Unnamed: 0    17
18     Unnamed: 0    18
19     Unnamed: 0    19
20     Unnamed: 0    20
21     Unnamed: 0    21
22     Unnamed: 0    22
23     Unnamed: 0    23
24     Unnamed: 0    24
25     Unnamed: 0    25
26     Unnamed: 0    26
27     Unnamed: 0    27
28     Unnamed: 0    28
29     Unnamed: 0    29
...           ...   ...
21839          17     0
21840          17     0
21841          17     0
21842          17     0
21843          17     0
21844          17     0
21845          17     0
21846          17     0
21847          17     0
21848          17     0
21849          17     0
21850          17     0
21851          17     0
21852          17     0
21853          17     0
21854          17     0
21855          17     0
21856          17     0
21857          17     0
21858          17     0
21859          17     0
21860          17     0
21861          17     0
21862          17     0
21863          17     0
21864          17     0
21865          17     0
21866          17     0
21867          17     0
21868          17     0

[21869 rows x 2 columns]