In [11]:
import rpy2
import pandas as pd
import numpy as np
#import rpy2POC

import rpy2.robjects as robjects
from rpy2.robjects.vectors import DataFrame
from rpy2.robjects import pandas2ri

pandas2ri.activate()


#import os 
#cwd = os.getcwd()
#print(cwd)

r_source = rpy2.robjects.r['source']



R_Hist_perf = DataFrame.from_csvfile('transactions_data.csv',header=False,sep=',')
R_Hist_space_climate_info = DataFrame.from_csvfile('fixture_data.csv',header=False,sep=',')
R_Future_Space_Entry_Data = DataFrame.from_csvfile('Entry.Future Space.csv',header=True,sep=",")
R_Brand_Exit = DataFrame.from_csvfile('exit_data.csv',header=False,sep=',')


#conversion Python to R, doesn't work
#Hist_perf = pandas2ri.py2ri(P_Hist_perf)
#Hist_space_climate_info = pandas2ri.py2ri(P_Hist_space_climate_info) 
#Future_Space_Entry_Data = pandas2ri.py2ri(P_Future_Space_Entry_Data) 
#Brand_Exit = pandas2ri.py2ri(P_Brand_Exit)


# Takes in 4 R data frames and a string, outputs Python data frame
def rpy2_data_merging(R_Hist_perf,R_Hist_space_climate_info,R_Future_Space_Entry_Data,R_Brand_Exit,optimizationType):
############## Data Merging ##############
    try:
        
        
        # Update: reading in original R objects, so we don't have to convert pi2ri
        # KB Convert python fed dataframes with 2 rows header into R dataframes with 2 rows header    
        #R_Hist_perf = pandas2ri.py2ri(P_Hist_perf)
        #R_Hist_space_climate_info = pandas2ri.py2ri(P_Hist_space_climate_info) 
        #R_Future_Space_Entry_Data = pandas2ri.py2ri(P_Future_Space_Entry_Data) 
        #R_Brand_Exit = pandas2ri.py2ri(P_Brand_Exit)
        
        # Parameter variable that used to be defined in the R code
        optimType = optimizationType

        # Source the R file into memory so it can be used
        r_source('Data_Merging_function_8_10_v4.R')

        # robjects.globalenv gives access to any global variable and functions from all sourced R scripts
        # The main function in the data merging code is called 'Data_merge', so we grab that function and store it into
        # a local python variable.  The variable can then be used to call the R function
        r_data_merge = rpy2.robjects.globalenv['Data_merge']
        
        # Call the R function (that's stored as a python variable).  Since there is only one object returned
        # it can be returned as normal and stored into a python variable
        # Here, the resulting return is in the form of an R DataFrame
        r_big_master_data = r_data_merge(R_Hist_perf,R_Hist_space_climate_info,R_Future_Space_Entry_Data,R_Brand_Exit,optimType)
        
        # KB Convert resulting R Dataframe back to pandas dataframe
        p_big_master_data=pandas2ri.ri2py(r_big_master_data)
        return p_big_master_data
    except:
        print("Data merging failed :(")
    return

a=rpy2_data_merging(R_Hist_perf,R_Hist_space_climate_info,R_Future_Space_Entry_Data,R_Brand_Exit,"Regular")

type(a)

a.head()

Changing in

Hist_perf1



From:
 Store

To:
 Cat





Changing in

Hist_perf1



From:
 variable

To:
 Store





Changing in

HSCI1



From:
 variable

To:
 Cat





Changing in

Hist_perf_space







From:
 Cat
 space
 Sales $
 Sales Units
 Profit $

To:
 Product
 Space
 Sales
 Units
 Profit

,Store,Climate,VSG,Product,Space,Sales,Units,Profit,Exit_Flag,Future Space,Entry Space,BOH $,BOH Units,CC Count w/ BOH,Profit %,Receipts $,Receipts Units
1,10,COLD,ST,APT 9,5,32945.22,1933,12722.859,0.0,33,0.0,35013.93333,838,133.5,0.386182244,84136,1878
2,10,COLD,ST,CHAPS,3,20381.34,1004,1283.09,0.0,33,0.0,38685.65,712.5,66.5,0.062954153,49174,746
3,10,COLD,ST,CROFT & BARROW,9,89958.93,6866,36035,0.0,33,0.0,82177.89667,2412.166667,228.3333333,0.400571683,202374,5746
4,10,COLD,ST,GLORIA VANDERBILT,2,15508.95,710,5375.49,0.0,33,0.0,13568.63,323,37.33333333,0.34660567,33358.26,774
5,10,COLD,ST,JENNIFER LOPEZ,3,14646.37,594,7418.786,0.0,33,0.0,19395.96667,350.3333333,59.16666667,0.506527283,39976,705